<html lang="en">
	<head>
		<title>Landing Page</title>
	</head>
	<body id="gateway">	
		<div id="background"></div>
		<div id="wrapper">
			<div id="header">
				<h2>Please Choose Your Path</h2>
				<div class="clr"></div>
			</div>
			<div id="body">
				<div class="item" id="id">
					<h2 class="gatewayItem">
						<a href="#" title="">
							<span>Homepage</span>
						</a>
					</h2>
				</div>
				<div class="item" id="id2">
					<h2 class="gatewayItem">
						<a target="_blank" href="#" title="">
							<span>Second Page</span>
						</a>
					</h2>
				</div>
				<div class="item" id="id3">
					<h2 class="gatewayItem">
						<a href="#" title="">
							<span>Third Page</span>
						</a>
					</h2>
				</div>
				<div class="clr"></div>
				<div id="footer">
					<p></p>
				</div>
			</div>
		</div>
	</body>
</html>
